/*about start*/
#about{
    height:auto;
    width:100%;
    padding-bottom: 100px;


}
#about .container{
          margin-top: 10px;
}
.col-md-5.images {
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.col-md-5.images img{
     height:100%;
 }
 #about .container .col-md-7{
     height: 100%;
   
 }
 #about .container .col-md-7 h2{
     font-size: 2rem;
    font-weight: 600;
 }
 #about .container .col-md-7 span{
            font-style:italic;
            color: #CA003A;
 }
 #about .container .col-md-7 p{
     font-size: 1rem;
     font-family: sans-serif;
     font-style: initial;
     font-weight: 500;
     padding-bottom: 30px;
 }
 #about .container .col-md-7 button{
    background-color: #CA003A;
    color: white;
    width:150PX;
    height: 40px;
    border-radius: 30px;}
 #about .container .desh{
    color: #CA003A;
    width: 80px;
    
 }
 center{
     height: 100px;
 }
center  h1{
    font-size: 3rem;
    font-weight: 600;
    position: relative;
    align-items: center;
   
}
center  h1::before{
    content: "";
    position: absolute;
    left:50%;
    bottom: -15px;
    width: 180px;
    height: 3px;
    background-color:#CA003A;
    transform: translateX(-50%);


}
center  h1::after{
content: "who i am";
font-size: 20px;
position: absolute;
 left:50%;
bottom:-21px;
height: 20px;
background: white;
z-index: 10;
transform: translateX(-50%);


}
@media(max-width:974px){
    #about{
        height:auto;
        padding-bottom: 50px;
        width:100%;
      


    }
    center  h1{
        font-size: 3rem;
        font-weight: 700;
        
    }
    #about .container .col-md-7 h2{
        font-size: 2.5rem;
        font-weight: 600;
      

       
    }
 
    #about .container .col-md-7 p{
        font-size: 1.5rem;
        font-family: sans-serif;
        font-style: initial;
        font-weight: 500;
        margin-top: 30px;
    }
#about .container .col-md-7 button{
    width: 100px;

}

   }
 /*  servicea start*/
 #services{
      width:100%;
      height: auto;
      background-color: black;
}
#services .container{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
#services .container.row{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
.col-lg-4.col-md-6 {
    margin-top: 20PX;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
}
.service-col{
    width: 100%;
    background-color: #323233;
    text-align: center;
    height:25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    border-radius:5%;
  color:white;
  transition: all .2s;
    
}
.service-col:hover{
    background-color: #CA003A;
    transform:scale(.9);
}
.service-col:hover.service-col i{
         color: white!important;
   
}
.service-col i{
    font-size: 3rem;
    color:#CA003A
}
.service-col i:hover{
   color:white;
}

#services .container span{
                padding-top: 100px;
                font-size: 3rem;
                color: white;
                font-weight: 600;
                position: relative;
             
        }
#services .container span::before{
    content: "";
    position: absolute;
    left:50%;
    bottom: -15px;
    width: 180px;
    height: 3px;
    background-color:#CA003A;
    transform: translateX(-50%);
}
@media(max-width:974px){
    #services .container.row{
        margin-top: 100px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #services .container span{
        font-size: 3rem;
        font-weight:600;
    }
    .service-col h2{
                  font-size:2rem;
    }
    .service-col i{
        font-size: 3rem;
    }
}
#skill{
    width:100%;
    height:auto;
    background-color:#000000d4;
}
#skill .container{
    padding-top: 100px;
    
}
#skill .container center{
    color:white;
    font-size: 3rem;
    position: relative;
}
#skill .container center:before{
    content: "";
    position: absolute;
    left:50%;
    bottom:30px;
    width: 180px;
    height: 3px;
    background-color:#CA003A;
    transform: translateX(-50%);

}
#skill .container center:after{
    content: "what i know";
    font-size: 20px;
    position: absolute;
     left:50%;
    bottom:25px;
    height: 20px;
    background:#2B2B2B;
    z-index: 10;
    transform: translateX(-50%);;

}
.skill-div1{
    color:white;
    margin-top: 50PX;
    padding-bottom: 40px;

   
}
.skill-div1 h2{
    padding-bottom:40px;


}
.skill-div1 p{
    line-height: 20px;
    font-size: 1rem;

    
}
.skill-div1 button{
    width: 150px;
    color:white;
    text-align: center;
    border-radius:30px;
    background-color: #CA003A;
    height: 40px;
    margin-top:30px;

}
.skill-div2{
   height:500px;
   display: flex;
   flex-wrap: wrap;
   flex-flow:column;
  

}
.skill-div2 ul {
margin-top:20px;
margin-left: 5px;
text-decoration: none;
font-style: none;
}
.skill-div2 ul li{
text-decoration: none!important;
color:white;
margin-top: 20px;
font-size:1.3rem;
list-style: none;
position:relative;
z-index:10;
}
.skill-div2 ul li:before{
  content:"";
  position:absolute;
  top:10px;
  left:100px;
  width:70%;
  height:15px;
  background-color:white;
}
.skill-div2 ul >li:nth-child(1)::after{
content:"";
position:absolute;
top:10px;
left:100px;
width:0;
height:15px;
background-color:#CA003A;
animation-name:anima1;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction:alternate;
animation-timing-function: ease-in-out;
}
.skill-div2 ul >li:nth-child(2)::after{
content:"";
position:absolute;
top:10px;
left:100px;
width:0;
height:15px;
background-color:#CA003A;
animation-name:anima2;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction:alternate;
animation-timing-function: ease-in-out;
}
.skill-div2 ul >li:nth-child(3)::after{
content:"";
position:absolute;
top:10px;
left:100px;
width:0;
height:15px;
background-color:#CA003A;
animation-name:anima3;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction:alternate;
animation-timing-function: ease-in-out;
}
.skill-div2 ul >li:nth-child(4)::after{
content:"";
position:absolute;
top:10px;
left:100px;
width:0;
height:15px;
background-color:#CA003A;
animation-name:anima4;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction:alternate;
animation-timing-function: ease-in-out;
}
.skill-div2 ul >li:nth-child(5)::after{
content:"";
position:absolute;
top:10px;
left:100px;
width:0;
height:15px;
background-color:#CA003A;
animation-name:anima5;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction:alternate;
animation-timing-function: ease-in-out;
}
.skill-div2 ul >li:nth-child(6)::after{
content:"";
position:absolute;
top:10px;
left:100px;
width:0;
height:15px;
background-color:#CA003A;
animation-name:anima6;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction:alternate;
animation-timing-function: ease-in-out;
}
@keyframes anima1{
0%{width:0;}
100%{width:60%}
}
@keyframes anima2{
0%{width:0;}
100%{width:50%}
}
@keyframes anima3{
    0%{width:0;}
    100%{width:50%}
    }
    @keyframes anima4{
        0%{width:0;}
        100%{width:30%}
        }
        @keyframes anima5{
            0%{width:0;}
            100%{width:20%}
            }
            @keyframes anima6{
                0%{width:0;}
                100%{width:35%}
                }
@media (max-width:974px){
#skill .container center{
    color:white;
    font-size: 3rem;
    position: relative;
}
#skill .container center:after{
    font-size: 16px;
}
.skill-div1 h2{
    font-size:2.5rem;
    padding-bottom: 10px;
}
.skill-div1 p{
    font-size: 14px;
}
.skill-div1 button{
      width:100px ;
      border: none;
}
}    
 /* my_ section start */